header {
	font-size: 40px;
	text-align: center;
}

article {
	background-color: gold;
	float: left;
	width: 48%;
	margin: 1%;
}

aside {
	background-color: #d2691e;
	color: white;
	float: right;
	width: 48%;
	margin: 1%;
}

#left {
	clear: both;
	float: left;
	color: white;
	background-color: black;
	width: 30%;
	margin: 1.5%;
	height: 150px;
}

#center {
	float: left;
	background-color: red;
	width: 30%;
	margin: 1.5%;
	height: 150px;
}

#right {
	float: left;
	background-color: #bbbbbb;
	width: 30%;
	margin: 1.5%;
	height: 150px;
}

footer {
	clear: both;
	text-align: center;
}